/*reset do css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;	
}

body {
  background-image: url('../img/fundo.jpeg');
  background-size: auto 100vh;
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  font-size: 12px;
}

/* Se a tela tiver pelo menos 400px vai carregar esses estilos */
@media (min-width: 400px) {
  body {
	font-size: 14px;
  }
}

/* Se a tela tiver pelo menos 600px vai carregar esses estilos */
@media (min-width: 600px) {
  body {
	font-size: 18px;
  }
}

header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}  

.menu {
  background-color: white;
  position: fixed;
  width: 100vw;
  top:0;
}

.menu a {
  display: block;
  padding: 10px 20px;	
}

.menu ul {
  display: flex;
  justify-content: space-around;
}

.menu li {
  list-style: none;  
}

a{
  color: teal;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.site-subtitle,
.site-title {
  color: teal;
  text-align: center;
  font-family: 'Sacramento', cursive;  
}

.site-subtitle {
  font-style: italic;
  font-family: 'Courgette', cursive;
  line-height: 1.8em;
}

.portfolio {
  padding: 2em;
  height: 100vh;	
}

.portfolio figure {
  text-align: center;
}

.portfolio .grid {
  display: grid;
  gap: 2em;
  justify-content: center;
  align-content: center;
}

@media(min-width: 680px){
  .portfolio .grid {
    grid-template-columns: 240px 240px; 	
  }
}

@media(min-width: 880px){
  .portfolio .grid {
    grid-template-columns: repeat(3,240px); 	
	height: calc(100vh - 4em - 48px - 1.5em);
  }
}

.portfolio h2 {
  font-family: 'Roboto', sans-serif;
  color: whitesmoke;
  margin-bottom: 1em;
  font-size: 2em;
}

.img-portfolio {
  height: 180px;	
  width: 240px;
  object-fit: cover;
  object-position: bottom left;
}


