/*reset do css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;	
}

body {
  background-image: url('../img/fundo.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  font-size: 12px;
}

/* Se a tela tiver pelo menos 400px vai carregar esses estilos */
@media (min-width: 400px) {
  body {
	font-size: 14px;
  }
}

/* Se a tela tiver pelo menos 600px vai carregar esses estilos */
@media (min-width: 600px) {
  body {
	font-size: 18px;
  }
}

header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}  

.menu {
  background-color: white;
  position: fixed;
  width: 100vw;
  top:0;
  z-index: 1;
}

.menu a {
  display: block;
  padding: 10px 20px;
  transition: background-color 1s, color 1s;	
}

.menu a:active,
.menu a:hover {
  background-color: teal;
  color: white;
}

.menu ul {
  display: flex;
  justify-content: space-around;
}

.menu li {
  list-style: none;  
}

a{
  color: teal;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.titulo{
  transform: scale(0.2) translateY(50vh);
  opacity: 0;

  animation: linear 2s animacaoTitulo forwards;
}

@keyframes animacaoTitulo{

  100%{
    transform: scale(1) translateY(0vh);
    opacity: 1;
  }

}

.site-subtitle,
.site-title {
  color: teal;
  text-align: center;
  font-family: 'Sacramento', cursive;  
}

.site-subtitle {
  font-style: italic;
  font-family: 'Courgette', cursive;
  line-height: 1.8em;
}

.contato,
.portfolio {
  padding: 2em;
  min-height: 100vh;	
}

.portfolio figure {
  text-align: center;
}

.portfolio .grid {
  display: grid;
  gap: 2em;
  justify-content: center;
  align-content: center;
}

@media(min-width: 680px){
  .portfolio .grid {
    grid-template-columns: 240px 240px; 	
  }
}

@media(min-width: 880px){
  .portfolio .grid {
    grid-template-columns: repeat(3,240px); 	
	height: calc(100vh - 4em - 48px - 1.5em);
  }
}

.contato h2,
.portfolio h2 {
  font-family: 'Roboto', sans-serif;
  color: teal;
  margin-bottom: 1em;
  font-size: 2em;
}

.img-portfolio {
  height: 180px;	
  width: 240px;
  object-fit: cover;
  object-position: bottom left;
  transition: transform 500ms;
}

.img-portfolio:hover {
  transform: scale(1.2);
}  

.contato .icons {
  text-align: center;
}

.contato a{
  color: teal;
  font-size: 4em;
  transition: text-shadow 1s;
}

.contato a:active,
.contato a:hover {
  text-decoration: none;
  text-shadow: 0px 0px 10px teal;
}

